<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <link rel="stylesheet" href="song-lyrics.css">
    <title>Song Lyrics</title>
</head>
<body>
    <header>
        <h1>Get the lyrics to your favorite tracks</h1>
    </header>
    <div id="songApp">
        <section class="form">
            <form v-on:submit.prevent="getLyrics">
                <div>
                    <label>Artist name</label>
                    <input type="text" placeholder="Enter an artist or band name" v-model="artist">
                </div>
                <div>
                    <label>Song name</label>
                    <input type="text" placeholder="Enter a song name" v-model="title">
                </div>
                <button type="submit" v-on:click="showLyrics = true">Get Lyrics</button>
                <button type="reset" v-on:click="showLyrics = false">Reset Form</button>
            </form>
        </section>
        <section v-if="!showLyrics">
            <h2>Enter a song name and an artist to see the song lyrics.</h2>
        </section>
        <section class="results" v-if="showLyrics">
            <h2>The lyrics to <em>{{title}}</em> by <em>{{artist}}</em> are:</h2>
            <p>{{lyrics}}</p>
        </section>
    </div>
    <script src="song-lyrics.js"></script>
</body>
</html>