@import url("https://use.typekit.net/ykt7lip.css");

html {
    background-color:#9ddae6;
}

body {
    width: 90%;
    margin: auto;
    font-family: omnes-pro, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}
h1, h2, h3, h4, h5 {
    font-family: omnes-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0a2240;
    margin-bottom: 10px;
    line-height: 1.25;
}

h1 {
    font-size: 3em;
}

h2 {
  color: #3d8dae;
}

p, li {
    font-family: omnes-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: #0a2240;
    margin-bottom: 25px;
}

/*+++++++++++++++++++++   FORM STYLE   ++++++++++++++++++++++*/

.form {
    padding: 5px;
    margin-bottom: 50px;
    border-bottom: 1px solid #0a2240;
}

input::placeholder {
    margin-right: 10px;
    font-family: omnes-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: #0a2240;
}

div input{
    padding: 5px 0;
    border: 0;
    border-bottom: 1px dotted purple;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 10px;
}

/*+++++++++++++++++++++   BUTTON STYLE   ++++++++++++++++++++++*/

button {
    box-sizing: border-box;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #3d8dae;
    color: white;
    font-family: omnes-pro, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25em;
    border: 0;
    transition: all 0.2s;
    margin-right: 15px;
}

button:hover {
    background-color:#b8dfca;
    color:  #0a2240;
}

/*+++++++++++++++++++++   HEADER STYLE   ++++++++++++++++++++++*/

header h1 {
    font-size: 4em;
    color: #0a2240;
    padding: 00px 0px 0px 00px;
    text-align: center;
}

/*+++++++++++++++++++++   LYRIC STYLE   ++++++++++++++++++++++*/
/*The data is formulated without line breaks, so this helps*/
.results {
    white-space: pre;
}

.results h2 {
    color:  #0a2240;
}